*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}
.img{
    width: 350px;
}
body{
    background-color: #3d087b;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    margin: 50px 80px;
    grid-gap: 10px;
}


.logo, .icons{
    margin-left: 90px;
    margin-top: 30px;
}
.logo img{
    margin-top: 10px;
    width: 150px;
}
.icons{
    background-color: #ffffff;
    width: 260px;
    height: auto;
    border-radius: 10px;
}
.icons h6{
    padding-top: 10px;
    margin-left: 20px;
}
.icons img{
    margin-left: 40px;
    margin-bottom: 10px;
}
.icons .sm{
    width: 30px;
}


.cn2{
    grid-column: 1/2;
    /* text-align: center; */
}
.cn2 .b1{
    border-radius: 10px;
    position: absolute;
    opacity: 0.4;
    top: 400px;
    left: 220px;
    background-color: #ffffff;
    width: 285px;
    height: 20px;

}
.cn2 .b2{
    border-radius: 10px;
    position: absolute;
    opacity: 0.7;
    top: 393px;
    left: 200px;
    background-color: #ffffff;
    width: 320px;
    height: 20px;

}
.cn2 .up{
    background-color: #ffffff;
    width: 380px;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 10px;
    height: 90px;
}
.up .ti{
    padding: 40px 20px;
}
.cn2 img{
    height: 70px;
    margin: 10px;
}
.up .timeline{
    position: absolute;
    top: 313px;
    left: 235px;
}
.up .h10{
    position: absolute;
    top: 335px;
    left: 255px;
    font-size: 20px;
    text-align: center;
}
.h10 .col{
    position: relative;
    top: 335px;
    left: 255px;
    font-size: 80px;
}
.up .timeline1{
    position: absolute;
    top: 313px;
    left: 310px;
}
.up .min45{
    position: absolute;
    top: 335px;
    left: 335px;
    font-size: 20px;
    text-align: center;
}
.up .timeline2{
    position: absolute;
    top: 313px;
    left: 385px;
}
.up .sec01{
    position: absolute;
    top: 335px;
    left: 410px;
    font-size: 20px;
    text-align: center;
}
.up .timeline3{
    position: absolute;
    top: 313px;
    left: 455px;
}
.up .am{
    position: absolute;
    top: 337px;
    left: 470px;
    font-size: 33px;
    text-align: center;
    color: white;
}
.cn2 .te{
    background-color: #ffffff;
    width: 200px;
    margin: 30px 0px 30px 90px;
    border-radius: 5px;
}
.cn2 .te .lt{
    line-height: 30px;
    margin-left: 15px;
}

.cn3{
    grid-column: 1/2;
    /* text-align: center; */
}
.cn3 .t1, .cn3 .t2, .cn3 .t3, .cn3 .t4{
    margin: 10px 0px 10px 90px;
    background-color: #ddf5ff;
    width: 250px;
    padding: 10px;
}

.cn4{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
.cn5{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.cn6{
    grid-column: 2/3;
    text-align: center;
}
.cn7{
    grid-column: 2/3;
    text-align: center;
}
